JimsCalculator.Application/bin/Debug/netstandard2.1/JimsCalculator.Application.deps.json
JimsCalculator.Application/bin/Debug/netstandard2.1/JimsCalculator.Application.dll
JimsCalculator.Application/bin/Debug/netstandard2.1/JimsCalculator.Application.pdb
JimsCalculator.Application/bin/Debug/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Application/bin/Debug/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Application/obj/JimsCalculator.Application.csproj.nuget.dgspec.json
JimsCalculator.Application/obj/JimsCalculator.Application.csproj.nuget.g.props
JimsCalculator.Application/obj/JimsCalculator.Application.csproj.nuget.g.targets
JimsCalculator.Application/obj/project.assets.json
JimsCalculator.Application/obj/project.nuget.cache
JimsCalculator.Application/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.AssemblyInfo.cs
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.AssemblyInfoInputs.cache
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.assets.cache
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.csproj.AssemblyReference.cache
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.csproj.CopyComplete
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.csproj.CoreCompileInputs.cache
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.csproj.FileListAbsolute.txt
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.dll
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.GeneratedMSBuildEditorConfig.editorconfig
JimsCalculator.Application/obj/Debug/netstandard2.1/JimsCalculator.Application.pdb
JimsCalculator.Domain/bin/Debug/netstandard2.1/JimsCalculator.Domain.deps.json
JimsCalculator.Domain/bin/Debug/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Domain/bin/Debug/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Domain/obj/JimsCalculator.Domain.csproj.nuget.dgspec.json
JimsCalculator.Domain/obj/JimsCalculator.Domain.csproj.nuget.g.props
JimsCalculator.Domain/obj/JimsCalculator.Domain.csproj.nuget.g.targets
JimsCalculator.Domain/obj/project.assets.json
JimsCalculator.Domain/obj/project.nuget.cache
JimsCalculator.Domain/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.AssemblyInfo.cs
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.AssemblyInfoInputs.cache
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.assets.cache
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.csproj.AssemblyReference.cache
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.csproj.CoreCompileInputs.cache
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.csproj.FileListAbsolute.txt
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.GeneratedMSBuildEditorConfig.editorconfig
JimsCalculator.Domain/obj/Debug/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Application.dll
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Application.pdb
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Infrastructure.deps.json
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Infrastructure.dll
JimsCalculator.Infrastructure/bin/Debug/netstandard2.1/JimsCalculator.Infrastructure.pdb
JimsCalculator.Infrastructure/obj/JimsCalculator.Infrastructure.csproj.nuget.dgspec.json
JimsCalculator.Infrastructure/obj/JimsCalculator.Infrastructure.csproj.nuget.g.props
JimsCalculator.Infrastructure/obj/JimsCalculator.Infrastructure.csproj.nuget.g.targets
JimsCalculator.Infrastructure/obj/project.assets.json
JimsCalculator.Infrastructure/obj/project.nuget.cache
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.AssemblyInfo.cs
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.AssemblyInfoInputs.cache
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.assets.cache
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.csproj.AssemblyReference.cache
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.csproj.CopyComplete
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.csproj.CoreCompileInputs.cache
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.csproj.FileListAbsolute.txt
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.dll
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
JimsCalculator.Infrastructure/obj/Debug/netstandard2.1/JimsCalculator.Infrastructure.pdb
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.assets.cache
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.csproj.AssemblyReference.cache
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.csproj.CopyComplete
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.csproj.CoreCompileInputs.cache
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.csproj.FileListAbsolute.txt
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.dll
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.pdb
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Application.dll
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Application.pdb
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Infrastructure.deps.json
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Infrastructure.dll
JimsCalculator.Infrastructure/bin/Release/netstandard2.1/JimsCalculator.Infrastructure.pdb
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.AssemblyInfo.cs
JimsCalculator.Infrastructure/obj/Release/netstandard2.1/JimsCalculator.Infrastructure.AssemblyInfoInputs.cache
JimsCalculator.Application/bin/Release/netstandard2.1/JimsCalculator.Application.deps.json
JimsCalculator.Application/bin/Release/netstandard2.1/JimsCalculator.Application.dll
JimsCalculator.Application/bin/Release/netstandard2.1/JimsCalculator.Application.pdb
JimsCalculator.Application/bin/Release/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Application/bin/Release/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Application/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.AssemblyInfo.cs
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.AssemblyInfoInputs.cache
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.assets.cache
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.csproj.AssemblyReference.cache
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.csproj.CopyComplete
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.csproj.CoreCompileInputs.cache
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.csproj.FileListAbsolute.txt
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.dll
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.GeneratedMSBuildEditorConfig.editorconfig
JimsCalculator.Application/obj/Release/netstandard2.1/JimsCalculator.Application.pdb
JimsCalculator.Domain/bin/Release/netstandard2.1/JimsCalculator.Domain.deps.json
JimsCalculator.Domain/bin/Release/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Domain/bin/Release/netstandard2.1/JimsCalculator.Domain.pdb
JimsCalculator.Domain/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.AssemblyInfo.cs
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.AssemblyInfoInputs.cache
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.assets.cache
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.csproj.AssemblyReference.cache
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.csproj.CoreCompileInputs.cache
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.csproj.FileListAbsolute.txt
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.dll
JimsCalculator.Domain/obj/Release/netstandard2.1/JimsCalculator.Domain.GeneratedMSBuildEditorConfig.editorconfig
